In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/"MyDrive/ML"

/content/drive/MyDrive/ML

In [ ]:
ls

deliveries.csv  most_runs_average_strikerate.csv  teams.csv
matches.csv     Players.xlsx                      teamwise_home_and_away.csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
matches = pd.read_csv("matches.csv")

In [ ]:
matches[matches['winner'].isnull() == True]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,IPL-2011,Delhi,21-05-2011,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,IPL-2015,Bangalore,29-04-2015,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,IPL-2015,Bangalore,17-05-2015,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,IPL-2019,Bengaluru,30-04-2019,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [ ]:
matches['winner'].fillna('No result',inplace=True)

In [ ]:
matches

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [ ]:
encoded_team = {
    'Mumbai Indians' : 1,
    'Chennai Super Kings' : 2,
    'Kolkata Knight Riders' : 3,
    'Royal Challengers Bangalore' : 4,
    'Kings XI Punjab'  : 5,
    'Rajasthan Royals'  : 6,
    'Delhi Daredevils' : 7,
    'Sunrisers Hyderabad' : 8,
    'Deccan Chargers' : 8,
    'Gujarat Lions' : 9,
    'Pune Warriors' : 10,
    'Delhi Capitals' : 7,
    'Rising Pune Supergiant' : 10,
    'Kochi Tuskers Kerala' :  11,
    'Rising Pune Supergiants' : 10,
    'No result' : 12
}

encoded_dict = {
    'team1' : encoded_team,
    'team2' : encoded_team,
    'toss_winner' : encoded_team,
    'winner' : encoded_team
}
matches.replace(encoded_dict,inplace=True)

In [ ]:
matches[matches['city'].isnull() == True]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
461,462,IPL-2014,NaN,19-04-2014,1,4,4,field,normal,0,4,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary,NaN
462,463,IPL-2014,NaN,19-04-2014,3,7,3,bat,normal,0,7,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni,NaN
466,467,IPL-2014,NaN,23-04-2014,2,6,6,field,normal,0,2,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth,NaN
468,469,IPL-2014,NaN,25-04-2014,8,7,8,bat,normal,0,8,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi,NaN
469,470,IPL-2014,NaN,25-04-2014,1,2,1,bat,normal,0,2,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus,NaN
474,475,IPL-2014,NaN,28-04-2014,4,5,5,field,normal,0,5,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi,NaN
476,477,IPL-2014,NaN,30-04-2014,8,1,1,field,normal,0,8,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN

In [ ]:
matches['city'].fillna('Dubai',inplace=True)

In [ ]:
matches[matches['city'].isnull() == True]

Empty DataFrame
Columns: [id, Season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [ ]:
from sklearn.preprocessing import LabelEncoder
ls = ['city','toss_decision','venue']
lbl_encoder = LabelEncoder()
for col in ls:
  matches[col] = lbl_encoder.fit_transform(matches[col])
  print(lbl_encoder.classes_)

matches

['Abu Dhabi' 'Ahmedabad' 'Bangalore' 'Bengaluru' 'Bloemfontein'
 'Cape Town' 'Centurion' 'Chandigarh' 'Chennai' 'Cuttack' 'Delhi'
 'Dharamsala' 'Dubai' 'Durban' 'East London' 'Hyderabad' 'Indore' 'Jaipur'
 'Johannesburg' 'Kanpur' 'Kimberley' 'Kochi' 'Kolkata' 'Mohali' 'Mumbai'
 'Nagpur' 'Port Elizabeth' 'Pune' 'Raipur' 'Rajkot' 'Ranchi' 'Sharjah'
 'Visakhapatnam']
['bat' 'field']
['ACA-VDCA Stadium' 'Barabati Stadium' 'Brabourne Stadium' 'Buffalo Park'
 'De Beers Diamond Oval' 'Dr DY Patil Sports Academy'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Dubai International Cricket Stadium' 'Eden Gardens' 'Feroz Shah Kotla'
 'Feroz Shah Kotla Ground' 'Green Park'
 'Himachal Pradesh Cricket Association Stadium' 'Holkar Cricket Stadium'
 'IS Bindra Stadium' 'JSCA International Stadium Complex' 'Kingsmead'
 'M Chinnaswamy Stadium' 'M. A. Chidambaram Stadium'
 'M. Chinnaswamy Stadium' 'MA Chidambaram Stadium, Chepauk'
 'Maharashtra Cricket Association Stadium' 'Nehru Stadium'
 'New Wanderers Stadium' 'Newlands' 'OUTsurance Oval'
 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Punjab Cricket Association Stadium, Mohali'
 'Rajiv Gandhi International Stadium, Uppal'
 'Rajiv Gandhi Intl. Cricket Stadium' 'Sardar Patel Stadium, Motera'
 'Saurashtra Cricket Association Stadium' 'Sawai Mansingh Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'Sharjah Cricket Stadium' 'Sheikh Zayed Stadium' "St George's Park"
 'Subrata Roy Sahara Stadium' 'SuperSport Park'
 'Vidarbha Cricket Association Stadium, Jamtha' 'Wankhede Stadium']

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,15,05-04-2017,8,4,4,1,normal,0,8,35,0,Yuvraj Singh,28,AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,27,06-04-2017,1,10,10,1,normal,0,10,0,7,SPD Smith,21,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,29,07-04-2017,9,3,3,1,normal,0,3,0,10,CA Lynn,31,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,16,08-04-2017,10,5,5,1,normal,0,5,0,6,GJ Maxwell,13,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,2,08-04-2017,4,7,4,0,normal,0,4,15,0,KM Jadhav,17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,24,05-05-2019,3,1,1,1,normal,0,1,0,9,HH Pandya,40,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,8,07-05-2019,2,1,2,0,normal,0,1,0,6,AS Yadav,18,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,32,08-05-2019,8,7,7,1,normal,0,7,0,2,RR Pant,0,NaN,NaN,NaN
754,11414,IPL-2019,32,10-05-2019,7,2,2,1,normal,0,2,0,6,F du Plessis,0,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,15,12-05-2019,1,2,1,0,normal,0,1,1,0,JJ Bumrah,29,Nitin Menon,Ian Gould,Nigel Llong

In [ ]:
x_train = matches[matches['Season']!='IPL-2019']

In [ ]:
x_train

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,15,05-04-2017,8,4,4,1,normal,0,8,35,0,Yuvraj Singh,28,AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,27,06-04-2017,1,10,10,1,normal,0,10,0,7,SPD Smith,21,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,29,07-04-2017,9,3,3,1,normal,0,3,0,10,CA Lynn,31,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,16,08-04-2017,10,5,5,1,normal,0,5,0,6,GJ Maxwell,13,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,2,08-04-2017,4,7,4,0,normal,0,4,15,0,KM Jadhav,17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,7949,IPL-2018,27,20-05-2018,5,2,2,1,normal,0,2,0,5,L Ngidi,21,Nitin Menon,Yeshwant Barde,Marais Erasmus
692,7950,IPL-2018,24,22-05-2018,8,2,2,1,normal,0,2,0,2,F du Plessis,40,Marais Erasmus,C Shamshuddin,S Ravi
693,7951,IPL-2018,22,23-05-2018,3,6,6,1,normal,0,3,25,0,AD Russell,8,Nitin Menon,Anil Chaudhary,Kumar Dharmasena
694,7952,IPL-2018,22,25-05-2018,8,3,3,1,normal,0,8,14,0,Rashid Khan,8,Nitin Menon,Kumar Dharmasena,Anil Chaudhary
695,7953,IPL-2018,24,27-05-2018,8,2,2,1,normal,0,2,0,8,SR Watson,40,Marais Erasmus,S Ravi,Nitin Menon

In [ ]:
y_train = x_train['winner']

In [ ]:
y_train

0       8
1      10
2       3
3       5
4       4
       ..
691     2
692     2
693     3
694     8
695     2
Name: winner, Length: 696, dtype: int64

In [ ]:
x_train = x_train[['team1' , 'team2' , 'city' , 'toss_decision', 'toss_winner' , 'venue' ]]

In [ ]:
x_train

     team1  team2  city  toss_decision  toss_winner  venue
0        8      4    15              1            4     28
1        1     10    27              1           10     21
2        9      3    29              1            3     31
3       10      5    16              1            5     13
4        4      7     2              0            4     17
..     ...    ...   ...            ...          ...    ...
691      5      2    27              1            2     21
692      8      2    24              1            2     40
693      3      6    22              1            6      8
694      8      3    22              1            3      8
695      8      2    24              1            2     40

[696 rows x 6 columns]

In [ ]:
x_test = matches[matches['Season']=='IPL-2019']
x_test

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
696,11137,IPL-2019,8,23-03-2019,4,2,2,1,normal,0,2,0,7,Harbhajan Singh,18,Bruce Oxenford,Anil Dandekar,Nitin Menon
697,11138,IPL-2019,22,24-03-2019,8,3,3,1,normal,0,3,0,6,AD Russell,8,Chris Gaffaney,Anil Chaudhary,Vineet Kulkarni
698,11139,IPL-2019,24,24-03-2019,7,1,1,1,normal,0,7,37,0,RR Pant,40,S Ravi,Yeshwant Barde,O Nandan
699,11140,IPL-2019,17,25-03-2019,5,6,6,1,normal,0,5,14,0,CH Gayle,32,C Shamshuddin,KN Anantapadmanabhan,Bruce Oxenford
700,11141,IPL-2019,10,26-03-2019,7,2,7,0,normal,0,2,0,6,SR Watson,10,Marais Erasmus,Nitin Menon,Anil Dandekar
701,11142,IPL-2019,22,27-03-2019,3,5,5,1,normal,0,3,28,0,AD Russell,8,Anil Chaudhary,Vineet Kulkarni,Chris Gaffaney
702,11143,IPL-2019,3,28-03-2019,1,4,4,1,normal,0,1,6,0,JJ Bumrah,19,S Ravi,O Nandan,Yeshwant Barde
703,11144,IPL-2019,15,29-03-2019,6,8,6,0,normal,0,8,0,5,Rashid Khan,29,Bruce Oxenford,C Shamshuddin,KN Anantapadmanabhan
704,11145,IPL-2019,23,30-03-2019,1,5,5,1,normal,0,5,0,8,MA Agarwal,14,Vineet Kulkarni,Chris Gaffaney,Anil Chaudhary
705,11146,IPL-2019,10,30-03-2019,3,7,7,1,tie,0,7,0,0,P Shaw,10,Anil Dandekar,Nitin Menon,Marais Erasmus
706,11147,IPL-2019,15,31-03-2019,8,4,4,1,normal,0,8,118,0,J Bairstow,29,S Ravi,KN Anantapadmanabhan,C Shamshuddin
707,11148,IPL-2019,8,31-03-2019,2,6,6,1,normal,0,2,8,0,MS Dhoni,18,O Nandan,Yeshwant Barde,Bruce Oxenford
708,11149,IPL-2019,23,01-04-2019,5,7,7,1,normal,0,5,14,0,S Curran,14,Anil Chaudhary,Chris Gaffaney,Vineet Kulkarni
709,11150,IPL-2019,17,02-04-2019,4,6,6,1,normal,0,6,0,7,S Gopal,32,Marais Erasmus,Anil Dandekar,Nitin Menon
710,11151,IPL-2019,24,03-04-2019,1,2,2,1,normal,0,1,37,0,HH Pandya,40,Bruce Oxenford,Rod Tucker,Yeshwant Barde
711,11152,IPL-2019,10,04-04-2019,7,8,8,1,normal,0,8,0,5,J Bairstow,10,C Shamshuddin,KN Anantapadmanabhan,S Ravi
712,11153,IPL-2019,3,05-04-2019,4,3,3,1,normal,0,3,0,5,AD Russell,19,Anil Chaudhary,Chris Gaffaney,O Nandan
713,11309,IPL-2019,8,06-04-2019,2,5,2,0,normal,0,2,22,0,Harbhajan Singh,18,KN Ananthapadmanabhan,Rod Tucker,C Shamshuddin
714,11310,IPL-2019,15,06-04-2019,1,8,8,1,normal,0,1,40,0,A Joseph,29,Anil Dandekar,Nitin Menon,Marais Erasmus
715,11311,IPL-2019,3,07-04-2019,4,7,7,1,normal,0,7,0,4,K Rabada,19,S Ravi,Yeshwant Barde,O Nandan
716,11312,IPL-2019,17,07-04-2019,6,3,3,1,normal,0,3,0,8,H Gurney,32,Chris Gaffaney,Anil Chaudhary,Bruce Oxenford
717,11313,IPL-2019,23,08-04-2019,8,5,5,1,normal,0,5,0,6,KL Rahul,14,Marais Erasmus,Anil Dandekar,Nitin Menon
718,11314,IPL-2019,8,09-04-2019,3,2,2,1,normal,0,2,0,7,DL Chahar,18,Rod Tucker,C Shamshuddin,Ulhas Gandhe
719,11315,IPL-2019,24,10-04-2019,5,1,1,1,normal,0,1,0,3,KA Pollard,40,Yeshwant Barde,S Ravi,O Nandan
720,11316,IPL-2019,17,11-04-2019,6,2,2,1,normal,0,2,0,4,MS Dhoni,32,Bruce Oxenford,Ulhas Gandhe,Chris Gaffaney
721,11317,IPL-2019,22,12-04-2019,3,7,7,1,normal,0,7,0,7,S Dhawan,8,Yeshwant Barde,O Nandan,Rod Tucker
722,11318,IPL-2019,24,13-04-2019,1,6,6,1,normal,0,6,0,4,JC Buttler,40,Nitin Menon,Nanda Kishore,Marais Erasmus
723,11319,IPL-2019,23,13-04-2019,5,4,4,1,normal,0,4,0,8,AB de Villiers,14,S Ravi,Ulhas Gandhe,Nigel Llong
724,11320,IPL-2019,22,14-04-2019,3,2,2,1,normal,0,2,0,5,Imran Tahir,8,Rod Tucker,O Nandan,Yeshwant Barde
725,11321,IPL-2019,15,14-04-2019,7,8,8,1,normal,0,7,39,0,K Paul,29,Anil Chaudhary,Bruce Oxenford,Chris Gaffaney
726,11322,IPL-2019,24,15-04-2019,4,1,1,1,normal,0,1,0,5,SL Malinga,40,Marais Erasmus,Nitin Menon,Nanda Kishore
727,11323,IPL-2019,23,16-04-2019,5,6,6,1,normal,0,5,12,0,R Ashwin,14,Anil Chaudhary,Vineet Kulkarni,S Ravi
728,11324,IPL-2019,15,17-04-2019,2,8,2,0,normal,0,8,0,6,DA Warner,29,Ian Gould,Ulhas Gandhe,C Shamshuddin
729,11325,IPL-2019,10,18-04-2019,1,7,1,0,normal,0,1,40,0,HH Pandya,10,Nigel Llong,Bruce Oxenford,Anil Chaudhary
730,11326,IPL-2019,22,19-04-2019,4,3,3,1,normal,0,4,10,0,V Kohli,8,Ian Gould,Nitin Menon,Anil Dandekar
731,11327,IPL-2019,17,20-04-2019,1,6,6,1,normal,0,6,0,5,SPD Smith,32,S Ravi,Yeshwant Barde,O Nandan
732,11328,IPL-2019,10,20-04-2019,5,7,7,1,normal,0,7,0,5,SS Iyer,10,Ulhas Gandhe,C Shamshuddin,Bruce Oxenford
733,11329,IPL-2019,15,21-04-2019,3,8,8,1,normal,0,8,0,9,K Ahmed,29,Nitin Menon,Nigel Llong,Ian Gould
734,11330,IPL-2019,3,21-04-2019,4,2,2,1,normal,0,4,1,0,PA Patel,19,Vineet Kulkarni,Rod Tucker,Anil Chaudhary
735,11331,IPL-2019,17,22-04-2019,6,7,7,1,normal,0,7,0,6,RR Pant,32,S Ravi,Nanda Kishore,Yeshwant Barde
736,11332,IPL-2019,8,23-04-2019,8,2,2,1,normal,0,2,0,6,SR Watson,18,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
737,11333,IPL-2019,3,24-04-2019,4,5,5,1,normal,0,4,17,0,AB de Villiers,19,Bruce Oxenford,C Shamshuddin,Rod Tucker
738,11334,IPL-2019,22,25-04-2019,3,6,6,1,normal,0,6,0,3,VR Aaron,8,Ian Gould,Anil Dandekar,Nitin Menon
739,11335,IPL-2019,8,26-04-2019,1,2,2,1,normal,0,1,46,0,RG Sharma,18,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
740,11336,IPL-2019,17,27-04-2019,8,6,6,1,normal,0,6,0,7,JD Unadkat,32,Yeshwant Barde,Nand Kishore,Sundaram Ravi
741,11337,IPL-2019,10,28-04-2019,7,4,7,0,normal,0,7,16,0,S Dhawan,10,Bruce Oxenford,KN Ananthapadmanabhan,C Shamshuddin
742,11338,IPL-2019,22,28-04-2019,3,1,1,1,normal,0,3,34,0,AD Russell,8,Ian Gould,Nitin Menon,Anil Dandekar
743,11339,IPL-2019,15,29-04-2019,8,5,5,1,normal,0,8,45,0,DA Warner,29,S Ravi,O Nandan,Nanda Kishore
744,11340,IPL-2019,3,30-04-2019,4,6,6,1,no result,0,12,0,0,NaN,19,Nigel Llong,Ulhas Gandhe,Anil Chaudhary
745,11341,IPL-2019,8,01-05-2019,2,7,7,1,normal,0,2,80,0,MS Dhoni,18,Anil Dandekar,Nitin Menon,Ian Gould
746,11342,IPL-2019,24,02-05-2019,1,8,1,0,tie,0,1,0,0,JJ Bumrah,40,S Ravi,O Nandan,Nanda Kishore
747,11343,IPL-2019,23,03-05-2019,5,3,3,1,normal,0,3,0,7,S Gill,14,Bruce Oxenford,C Shamshuddin,KN Ananthapadmanabhan
748,11344,IPL-2019,10,04-05-2019,6,7,6,0,normal,0,7,0,5,A Mishra,10,Ian Gould,Anil Dandekar,Nitin Menon
749,11345,IPL-2019,3,04-05-2019,8,4,4,1,normal,0,4,0,4,S Hetmyer,19,Nigel Llong,Anil Chaudhary,Ulhas Gandhe
750,11346,IPL-2019,23,05-05-2019,2,5,5,1,normal,0,5,0,6,KL Rahul,14,KN Ananthapadmanabhan,C Shamshuddin,Bruce Oxenford
751,11347,IPL-2019,24,05-05-2019,3,1,1,1,normal,0,1,0,9,HH Pandya,40,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,8,07-05-2019,2,1,2,0,normal,0,1,0,6,AS Yadav,18,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,32,08-05-2019,8,7,7,1,normal,0,7,0,2,RR Pant,0,NaN,NaN,NaN
754,11414,IPL-2019,32,10-05-2019,7,2,2,1,normal,0,2,0,6,F du Plessis,0,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,15,12-05-2019,1,2,1,0,normal,0,1,1,0,JJ Bumrah,29,Nitin Menon,Ian Gould,Nigel Llong

In [ ]:
matches

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,15,05-04-2017,8,4,4,1,normal,0,8,35,0,Yuvraj Singh,28,AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,27,06-04-2017,1,10,10,1,normal,0,10,0,7,SPD Smith,21,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,29,07-04-2017,9,3,3,1,normal,0,3,0,10,CA Lynn,31,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,16,08-04-2017,10,5,5,1,normal,0,5,0,6,GJ Maxwell,13,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,2,08-04-2017,4,7,4,0,normal,0,4,15,0,KM Jadhav,17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,24,05-05-2019,3,1,1,1,normal,0,1,0,9,HH Pandya,40,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,8,07-05-2019,2,1,2,0,normal,0,1,0,6,AS Yadav,18,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,32,08-05-2019,8,7,7,1,normal,0,7,0,2,RR Pant,0,NaN,NaN,NaN
754,11414,IPL-2019,32,10-05-2019,7,2,2,1,normal,0,2,0,6,F du Plessis,0,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,15,12-05-2019,1,2,1,0,normal,0,1,1,0,JJ Bumrah,29,Nitin Menon,Ian Gould,Nigel Llong

In [ ]:
x_test

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
696,11137,IPL-2019,8,23-03-2019,4,2,2,1,normal,0,2,0,7,Harbhajan Singh,18,Bruce Oxenford,Anil Dandekar,Nitin Menon
697,11138,IPL-2019,22,24-03-2019,8,3,3,1,normal,0,3,0,6,AD Russell,8,Chris Gaffaney,Anil Chaudhary,Vineet Kulkarni
698,11139,IPL-2019,24,24-03-2019,7,1,1,1,normal,0,7,37,0,RR Pant,40,S Ravi,Yeshwant Barde,O Nandan
699,11140,IPL-2019,17,25-03-2019,5,6,6,1,normal,0,5,14,0,CH Gayle,32,C Shamshuddin,KN Anantapadmanabhan,Bruce Oxenford
700,11141,IPL-2019,10,26-03-2019,7,2,7,0,normal,0,2,0,6,SR Watson,10,Marais Erasmus,Nitin Menon,Anil Dandekar
701,11142,IPL-2019,22,27-03-2019,3,5,5,1,normal,0,3,28,0,AD Russell,8,Anil Chaudhary,Vineet Kulkarni,Chris Gaffaney
702,11143,IPL-2019,3,28-03-2019,1,4,4,1,normal,0,1,6,0,JJ Bumrah,19,S Ravi,O Nandan,Yeshwant Barde
703,11144,IPL-2019,15,29-03-2019,6,8,6,0,normal,0,8,0,5,Rashid Khan,29,Bruce Oxenford,C Shamshuddin,KN Anantapadmanabhan
704,11145,IPL-2019,23,30-03-2019,1,5,5,1,normal,0,5,0,8,MA Agarwal,14,Vineet Kulkarni,Chris Gaffaney,Anil Chaudhary
705,11146,IPL-2019,10,30-03-2019,3,7,7,1,tie,0,7,0,0,P Shaw,10,Anil Dandekar,Nitin Menon,Marais Erasmus
706,11147,IPL-2019,15,31-03-2019,8,4,4,1,normal,0,8,118,0,J Bairstow,29,S Ravi,KN Anantapadmanabhan,C Shamshuddin
707,11148,IPL-2019,8,31-03-2019,2,6,6,1,normal,0,2,8,0,MS Dhoni,18,O Nandan,Yeshwant Barde,Bruce Oxenford
708,11149,IPL-2019,23,01-04-2019,5,7,7,1,normal,0,5,14,0,S Curran,14,Anil Chaudhary,Chris Gaffaney,Vineet Kulkarni
709,11150,IPL-2019,17,02-04-2019,4,6,6,1,normal,0,6,0,7,S Gopal,32,Marais Erasmus,Anil Dandekar,Nitin Menon
710,11151,IPL-2019,24,03-04-2019,1,2,2,1,normal,0,1,37,0,HH Pandya,40,Bruce Oxenford,Rod Tucker,Yeshwant Barde
711,11152,IPL-2019,10,04-04-2019,7,8,8,1,normal,0,8,0,5,J Bairstow,10,C Shamshuddin,KN Anantapadmanabhan,S Ravi
712,11153,IPL-2019,3,05-04-2019,4,3,3,1,normal,0,3,0,5,AD Russell,19,Anil Chaudhary,Chris Gaffaney,O Nandan
713,11309,IPL-2019,8,06-04-2019,2,5,2,0,normal,0,2,22,0,Harbhajan Singh,18,KN Ananthapadmanabhan,Rod Tucker,C Shamshuddin
714,11310,IPL-2019,15,06-04-2019,1,8,8,1,normal,0,1,40,0,A Joseph,29,Anil Dandekar,Nitin Menon,Marais Erasmus
715,11311,IPL-2019,3,07-04-2019,4,7,7,1,normal,0,7,0,4,K Rabada,19,S Ravi,Yeshwant Barde,O Nandan
716,11312,IPL-2019,17,07-04-2019,6,3,3,1,normal,0,3,0,8,H Gurney,32,Chris Gaffaney,Anil Chaudhary,Bruce Oxenford
717,11313,IPL-2019,23,08-04-2019,8,5,5,1,normal,0,5,0,6,KL Rahul,14,Marais Erasmus,Anil Dandekar,Nitin Menon
718,11314,IPL-2019,8,09-04-2019,3,2,2,1,normal,0,2,0,7,DL Chahar,18,Rod Tucker,C Shamshuddin,Ulhas Gandhe
719,11315,IPL-2019,24,10-04-2019,5,1,1,1,normal,0,1,0,3,KA Pollard,40,Yeshwant Barde,S Ravi,O Nandan
720,11316,IPL-2019,17,11-04-2019,6,2,2,1,normal,0,2,0,4,MS Dhoni,32,Bruce Oxenford,Ulhas Gandhe,Chris Gaffaney
721,11317,IPL-2019,22,12-04-2019,3,7,7,1,normal,0,7,0,7,S Dhawan,8,Yeshwant Barde,O Nandan,Rod Tucker
722,11318,IPL-2019,24,13-04-2019,1,6,6,1,normal,0,6,0,4,JC Buttler,40,Nitin Menon,Nanda Kishore,Marais Erasmus
723,11319,IPL-2019,23,13-04-2019,5,4,4,1,normal,0,4,0,8,AB de Villiers,14,S Ravi,Ulhas Gandhe,Nigel Llong
724,11320,IPL-2019,22,14-04-2019,3,2,2,1,normal,0,2,0,5,Imran Tahir,8,Rod Tucker,O Nandan,Yeshwant Barde
725,11321,IPL-2019,15,14-04-2019,7,8,8,1,normal,0,7,39,0,K Paul,29,Anil Chaudhary,Bruce Oxenford,Chris Gaffaney
726,11322,IPL-2019,24,15-04-2019,4,1,1,1,normal,0,1,0,5,SL Malinga,40,Marais Erasmus,Nitin Menon,Nanda Kishore
727,11323,IPL-2019,23,16-04-2019,5,6,6,1,normal,0,5,12,0,R Ashwin,14,Anil Chaudhary,Vineet Kulkarni,S Ravi
728,11324,IPL-2019,15,17-04-2019,2,8,2,0,normal,0,8,0,6,DA Warner,29,Ian Gould,Ulhas Gandhe,C Shamshuddin
729,11325,IPL-2019,10,18-04-2019,1,7,1,0,normal,0,1,40,0,HH Pandya,10,Nigel Llong,Bruce Oxenford,Anil Chaudhary
730,11326,IPL-2019,22,19-04-2019,4,3,3,1,normal,0,4,10,0,V Kohli,8,Ian Gould,Nitin Menon,Anil Dandekar
731,11327,IPL-2019,17,20-04-2019,1,6,6,1,normal,0,6,0,5,SPD Smith,32,S Ravi,Yeshwant Barde,O Nandan
732,11328,IPL-2019,10,20-04-2019,5,7,7,1,normal,0,7,0,5,SS Iyer,10,Ulhas Gandhe,C Shamshuddin,Bruce Oxenford
733,11329,IPL-2019,15,21-04-2019,3,8,8,1,normal,0,8,0,9,K Ahmed,29,Nitin Menon,Nigel Llong,Ian Gould
734,11330,IPL-2019,3,21-04-2019,4,2,2,1,normal,0,4,1,0,PA Patel,19,Vineet Kulkarni,Rod Tucker,Anil Chaudhary
735,11331,IPL-2019,17,22-04-2019,6,7,7,1,normal,0,7,0,6,RR Pant,32,S Ravi,Nanda Kishore,Yeshwant Barde
736,11332,IPL-2019,8,23-04-2019,8,2,2,1,normal,0,2,0,6,SR Watson,18,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
737,11333,IPL-2019,3,24-04-2019,4,5,5,1,normal,0,4,17,0,AB de Villiers,19,Bruce Oxenford,C Shamshuddin,Rod Tucker
738,11334,IPL-2019,22,25-04-2019,3,6,6,1,normal,0,6,0,3,VR Aaron,8,Ian Gould,Anil Dandekar,Nitin Menon
739,11335,IPL-2019,8,26-04-2019,1,2,2,1,normal,0,1,46,0,RG Sharma,18,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
740,11336,IPL-2019,17,27-04-2019,8,6,6,1,normal,0,6,0,7,JD Unadkat,32,Yeshwant Barde,Nand Kishore,Sundaram Ravi
741,11337,IPL-2019,10,28-04-2019,7,4,7,0,normal,0,7,16,0,S Dhawan,10,Bruce Oxenford,KN Ananthapadmanabhan,C Shamshuddin
742,11338,IPL-2019,22,28-04-2019,3,1,1,1,normal,0,3,34,0,AD Russell,8,Ian Gould,Nitin Menon,Anil Dandekar
743,11339,IPL-2019,15,29-04-2019,8,5,5,1,normal,0,8,45,0,DA Warner,29,S Ravi,O Nandan,Nanda Kishore
744,11340,IPL-2019,3,30-04-2019,4,6,6,1,no result,0,12,0,0,NaN,19,Nigel Llong,Ulhas Gandhe,Anil Chaudhary
745,11341,IPL-2019,8,01-05-2019,2,7,7,1,normal,0,2,80,0,MS Dhoni,18,Anil Dandekar,Nitin Menon,Ian Gould
746,11342,IPL-2019,24,02-05-2019,1,8,1,0,tie,0,1,0,0,JJ Bumrah,40,S Ravi,O Nandan,Nanda Kishore
747,11343,IPL-2019,23,03-05-2019,5,3,3,1,normal,0,3,0,7,S Gill,14,Bruce Oxenford,C Shamshuddin,KN Ananthapadmanabhan
748,11344,IPL-2019,10,04-05-2019,6,7,6,0,normal,0,7,0,5,A Mishra,10,Ian Gould,Anil Dandekar,Nitin Menon
749,11345,IPL-2019,3,04-05-2019,8,4,4,1,normal,0,4,0,4,S Hetmyer,19,Nigel Llong,Anil Chaudhary,Ulhas Gandhe
750,11346,IPL-2019,23,05-05-2019,2,5,5,1,normal,0,5,0,6,KL Rahul,14,KN Ananthapadmanabhan,C Shamshuddin,Bruce Oxenford
751,11347,IPL-2019,24,05-05-2019,3,1,1,1,normal,0,1,0,9,HH Pandya,40,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,8,07-05-2019,2,1,2,0,normal,0,1,0,6,AS Yadav,18,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,32,08-05-2019,8,7,7,1,normal,0,7,0,2,RR Pant,0,NaN,NaN,NaN
754,11414,IPL-2019,32,10-05-2019,7,2,2,1,normal,0,2,0,6,F du Plessis,0,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,15,12-05-2019,1,2,1,0,normal,0,1,1,0,JJ Bumrah,29,Nitin Menon,Ian Gould,Nigel Llong

In [ ]:
y_test = x_test['winner']

In [ ]:
y_test

696     2
697     3
698     7
699     5
700     2
701     3
702     1
703     8
704     5
705     7
706     8
707     2
708     5
709     6
710     1
711     8
712     3
713     2
714     1
715     7
716     3
717     5
718     2
719     1
720     2
721     7
722     6
723     4
724     2
725     7
726     1
727     5
728     8
729     1
730     4
731     6
732     7
733     8
734     4
735     7
736     2
737     4
738     6
739     1
740     6
741     7
742     3
743     8
744    12
745     2
746     1
747     3
748     7
749     4
750     5
751     1
752     1
753     7
754     2
755     1
Name: winner, dtype: int64

In [ ]:
x_test = x_test[['team1' , 'team2' , 'city' , 'toss_decision', 'toss_winner' , 'venue' ]]

In [ ]:
x_test

     team1  team2  city  toss_decision  toss_winner  venue
696      4      2     8              1            2     18
697      8      3    22              1            3      8
698      7      1    24              1            1     40
699      5      6    17              1            6     32
700      7      2    10              0            7     10
701      3      5    22              1            5      8
702      1      4     3              1            4     19
703      6      8    15              0            6     29
704      1      5    23              1            5     14
705      3      7    10              1            7     10
706      8      4    15              1            4     29
707      2      6     8              1            6     18
708      5      7    23              1            7     14
709      4      6    17              1            6     32
710      1      2    24              1            2     40
711      7      8    10              1            8     10
712      4      3     3              1            3     19
713      2      5     8              0            2     18
714      1      8    15              1            8     29
715      4      7     3              1            7     19
716      6      3    17              1            3     32
717      8      5    23              1            5     14
718      3      2     8              1            2     18
719      5      1    24              1            1     40
720      6      2    17              1            2     32
721      3      7    22              1            7      8
722      1      6    24              1            6     40
723      5      4    23              1            4     14
724      3      2    22              1            2      8
725      7      8    15              1            8     29
726      4      1    24              1            1     40
727      5      6    23              1            6     14
728      2      8    15              0            2     29
729      1      7    10              0            1     10
730      4      3    22              1            3      8
731      1      6    17              1            6     32
732      5      7    10              1            7     10
733      3      8    15              1            8     29
734      4      2     3              1            2     19
735      6      7    17              1            7     32
736      8      2     8              1            2     18
737      4      5     3              1            5     19
738      3      6    22              1            6      8
739      1      2     8              1            2     18
740      8      6    17              1            6     32
741      7      4    10              0            7     10
742      3      1    22              1            1      8
743      8      5    15              1            5     29
744      4      6     3              1            6     19
745      2      7     8              1            7     18
746      1      8    24              0            1     40
747      5      3    23              1            3     14
748      6      7    10              0            6     10
749      8      4     3              1            4     19
750      2      5    23              1            5     14
751      3      1    24              1            1     40
752      2      1     8              0            2     18
753      8      7    32              1            7      0
754      7      2    32              1            2      0
755      1      2    15              0            1     29

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
logreg = LogisticRegression(penalty="none",max_iter=3500)
logreg.fit(x_train,y_train)
y_pred = logreg.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

Accuracy: 0.31666666666666665

array([[6, 4, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 3, 2, 2, 2, 0, 0, 0, 0, 0],
       [1, 0, 3, 1, 1, 0, 0, 0, 0, 0],
       [0, 1, 2, 1, 1, 0, 0, 0, 0, 0],
       [2, 0, 1, 0, 0, 1, 1, 1, 0, 0],
       [2, 0, 1, 0, 0, 1, 0, 1, 0, 0],
       [1, 0, 1, 3, 0, 0, 2, 2, 1, 0],
       [0, 1, 0, 0, 1, 1, 0, 3, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]])

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators=1000)
rf.fit(x_train,y_train)
y_predict = rf.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_predict))
confusion_matrix(y_test, y_pred)

Accuracy: 0.6

array([[6, 4, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 3, 2, 2, 2, 0, 0, 0, 0, 0],
       [1, 0, 3, 1, 1, 0, 0, 0, 0, 0],
       [0, 1, 2, 1, 1, 0, 0, 0, 0, 0],
       [2, 0, 1, 0, 0, 1, 1, 1, 0, 0],
       [2, 0, 1, 0, 0, 1, 0, 1, 0, 0],
       [1, 0, 1, 3, 0, 0, 2, 2, 1, 0],
       [0, 1, 0, 0, 1, 1, 0, 3, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
for i in range (2,15):

  model = KNeighborsClassifier(n_neighbors=i)
  model.fit(x_train,y_train)
  predicted= model.predict(x_test)
  print(" K =  ",i , end = "  ")
  print("Accuracy:",metrics.accuracy_score(y_test, predicted))
confusion_matrix(y_test, y_pred)

 K =   2  Accuracy: 0.48333333333333334
 K =   3  Accuracy: 0.48333333333333334
 K =   4  Accuracy: 0.48333333333333334
 K =   5  Accuracy: 0.45
 K =   6  Accuracy: 0.4666666666666667
 K =   7  Accuracy: 0.48333333333333334
 K =   8  Accuracy: 0.5333333333333333
 K =   9  Accuracy: 0.5166666666666667
 K =   10  Accuracy: 0.5166666666666667
 K =   11  Accuracy: 0.5
 K =   12  Accuracy: 0.5
 K =   13  Accuracy: 0.5166666666666667
 K =   14  Accuracy: 0.48333333333333334

array([[6, 4, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 3, 2, 2, 2, 0, 0, 0, 0, 0],
       [1, 0, 3, 1, 1, 0, 0, 0, 0, 0],
       [0, 1, 2, 1, 1, 0, 0, 0, 0, 0],
       [2, 0, 1, 0, 0, 1, 1, 1, 0, 0],
       [2, 0, 1, 0, 0, 1, 0, 1, 0, 0],
       [1, 0, 1, 3, 0, 0, 2, 2, 1, 0],
       [0, 1, 0, 0, 1, 1, 0, 3, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]])

In [ ]:
C=1
from sklearn import svm
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
svc = svm.SVC(kernel='linear',C=C).fit(x_train,y_train)
y_pred = svc.predict(x_test)
print("Linear SVM Acuracy:  ",accuracy_score(y_test,y_pred))
rbf_svc = svm.SVC(kernel='rbf',gamma=0.5,C=C).fit(x_train,y_train)
y_pred = rbf_svc.predict(x_test)
print("RBF SVM Acuracy:",accuracy_score(y_test,y_pred))
poly_svc = svm.SVC(kernel='poly',degree=6,C=C).fit(x_train,y_train)
y_pred = poly_svc.predict(x_test)
print("Polynmial SVM Acuracy:",accuracy_score(y_test,y_pred))

Linear SVM Acuracy:   0.31666666666666665
RBF SVM Acuracy: 0.5
Polynmial SVM Acuracy: 0.43333333333333335